@import '../../styles/mixins';

.bag-wrapper {

  // TODO: Clarify the size
  margin: auto;

  .bag-header {
    padding: 20px 30px;

    .user-info {
      @include flex-content(center, 3px);
      margin-bottom: 10px;
    }

    .user-bag-info {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      .rent-borrow, .rent-options {
        @include flex-content(flex-start, 15px);
      }
    }
  }

  .bag-body {


    .tabs {
      display: flex;
      justify-content: center;
      margin-bottom: 5px;

      button:focus {
        outline: none;
      }
    }

    .tab-sections {
      height: 60vh;
      padding: 20px 30px;
      overflow: scroll;

      .tab {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 50px;

        .ticket {
          margin: 10px 5px;

          .ticket-image {
            width: 200px;
          }
        }
      }
    }
  }
}
