.ticket {
  flex-basis: calc(25% - 10px);
  flex-wrap: wrap;
  margin: 10px 5px;

  .ticket-image {
    // TODO: image width/height should be clarified and make exact rather than sticking to it container's width
    width: 70%;
    height: 185px;
    border: 2px solid #81004f;
    border-radius: 10px;
  }
  .ticket-info {
    padding-left: 5px;
    text-align: left;
    margin: auto;

    .title {
      font-weight: bold;
      font-size: 20px;
      margin: 10px 0 5px 0;
      cursor: pointer;

      &:hover {
        opacity: 0.6;
      }
    }

    .description {
      opacity: 0.7;
      margin: 0;
    }
  }
}
